/*transcoded check error*/

.header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: rgba(0,0,0,1);
}
.header .btn {
        color: #fff;
        padding: 15px 0px;
        margin: auto;
        font-size: 10px;
}

.header .btn .menu-toggle {
        height: 50px;
        width: 50px;
        display: block;
        cursor: pointer;
}

.level {
    position: fixed;
    transition: 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    width:200px;
}

.level .text {
        position: absolute;
        font-size: 14px;
        line-height: 50px;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        text-align: left;
        margin: 0;
        box-sizing: border-box;
}

.level .level-link {
        display: block;
        padding: 10px;
        font-size: 12px;
        line-height: 12px;
        height: 30px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
}

.level .item {
        position: relative;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        float: left;
        box-sizing: border-box;
        line-height: 50px;
        padding: 0px 10px;
        width:100%;
}

.level .item:hover {
        position: relative;
        background-color: rgba(0,0,0,0.8);
        color: #fff;
        float: left;
        box-sizing: border-box;
        
}

.level .item .item-link {
            display: block;
            padding: 10px;
            font-size: 10px;
            line-height: 10px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
.level .item .item-link:hover {
            background-color: rgba(0,0,0,0.5);
}

.level.left {
    left: 0;
    top: 50px;
    bottom: 0;
}

.level.left .wrapper {
        margin-right: 30px;
        height: 100%;
        overflow-x: auto;
}

.level.left .text {
        top: 0;
        bottom: 0;
        right: 0;
        width: 30px;
}
.level.left .level-link {
            position: relative;
            height: 100%;
            writing-mode: tb-rl;
}